@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.App {
  text-align: center;
  padding-left: 30px; 
  padding-right: 30px; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



/* Global styles */
body {
    background: radial-gradient(circle, #cbe6f867 0%, #8aaec653 65%);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3950ff;
    --sidebar-bg-color: #3950ff;
    --sidebar-link-hover: #34495e;
    --button-hover: #c0392b;
    --white: #ffffff;
    --danger-color: #e74c3c;
    --header-bg: #3950ff;
    --card-bg: #3950ff;
    --card-hover-bg: #e8e9eb;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  margin-right: auto;
  margin-left: auto;

}

.content {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row img {
  width: 20%;
  margin: 5px; 
}

.main-container {
  margin-left: 250px; 
  padding: 20px; 
  height: 100%; 
}

